@charset "UTF-8";


* {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	list-style: none;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
body {
	background-color: darkblue;
	color: white;
}
.header {

	height: 100hv;
  	background: linear-gradient (yellow, red);
 
}

