@charset "UTF-8";

*, html, body, ul, li, p {
	margin:0px;
	padding:0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;
	}

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

h1 {
  text-align: right;
  color: white;
}

img {
  max-width: 100%;
}

span {
  position: absolute;
  top: 200px;
  text-aling: center;
}

aside {
  float: right;
  padding: 20px;
  width: 35%;
  
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;

}

input {
	text-align: center;
	font-weight: bold;
}

button {
	color: #000000;
	text-align: center;
	font-weight: bold;

}

.header {
  padding: 20px;
 
}

.menu {
  display: flex; 
  flex-direction: row-reverse;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
}

.img-menu {
  position: absolute;
  top: 80px;
  left: 160px;
}

.text-p {
  float: right;
  text-align: right;
  font-size: .9rem;
}

.text-footer {
  text-align: center;
  font-size: .9rem;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.form-contact{
  width: 100%;
}

.form-contact-input{
  width: 100%;
  color: #000000;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
}

... /* mais regras CSS reset */

/* regra para o box-sizing */
/*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* regra para o clear float */
.cf:before,
.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}
#lateral {
	padding:0 50px 0 0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
	font-size:1.2em;
	background:rgba(44,62,80,0.5);
	background-image: -moz-linear-gradient(135deg, rgba(3,8,12,0.5), rgba(16,57,79, 0.5));
     	background-image: -webkit-linear-gradient(135deg, rgba(3,8,12,0.5), rgba(16,57,79, 0.5));
      	background-image: -o-linear-gradient(135deg, rgba(3,8,12,0.5), rgba(16,57,79, 0.5) );
       	background-image: -ms-linear-gradient(135deg, rgba(3,8,12,0.5), rgba(16,57,79, 0.5));
        background-image: linear-gradient(135deg, rgba(3,8,12,0.5), rgba(16,57,79, 0.5));
	height:100%;
	overflow:hidden;
	width:370px; 
	position:fixed;
	top:0;
	left:-320px;
	}
#lateral:before {
	z-index:1000;
	content: url(ico.png);
	font-size:4em;
	color:white;
	position:fixed;
	left:4px;
	top:45px;
	}
#lateral:hover:before, #lateral:focus:before {
left:-500px
	}
#lateral:hover, #lateral:focus,  #lateral:active  {
	-moz-transform: translate(320px, 0);
		-webkit-transform: translate(320px, 0);
			-o-transform: translate(320px, 0);
				transform: translate(320px, 0);
	padding-right:0;
	}
#container-imagem {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* adicionando imagem de fundo */
     background: linear-gradient(red);
    background-size: cover;
}	
